// radio & checkbox
$fly-font-size: 16px;
$fly-height: 20px;
$fly-padding: 0 0 0 26px;
$fly-open-w: 20px;
$fly-open-h: 20px;
$fly-checked-w: 10px;
$fly-checked-h: 20px;
$fly-checked-border-color: rgb(35, 182, 35);
$fly-checked-hover-border-color: rgb(94, 190, 49);

// labels
$fly-top-active: -22px;
$fly-top-inactive: 10px;
$fly-bar-color: #6610f2;
$fly-font-size-active: 14px;
$fly-font-size-inactive: 16px;
$fly-label-active-color: #1976c2;
$fly-label-inactive-color: #495057;
